{
  "compact": true,
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-react-jsx",
    [
      "module-resolver", {
        "alias": {
          "react-select-element": "./src"
        }
      }
    ]
  ]
}
